<!DOCTYPE html>
<html lang="en"
			xmlns:th="http://www.thymeleaf.org"
>
<hr th:replace="~{f::head}">
<body>

<hr th:replace="~{f::header}">

<h3>Login form</h3>

<div th:if="${param.logout}" class="notice">You have successfully logout</div>

<div th:if="${param.success}" class="notice">You have successfully registered</div>

<form th:action="@{/login}" method="post">
	<fieldset>
		<samp th:if="${param.error}">The user with the specified credentials was not found</samp>
		
		<p>
			<label for="username">Current username</label>
			<input type="text" name="username" id="username" autofocus>
		</p>
		<p>
			<label for="password">Your password</label>
			<input type="password" name="password" id="password">
		</p>
		
		<button type="submit">Submit login form</button>
	</fieldset>
</form>

</body>
</html>